            <div class="card-body p-4 p-md-5 mt-5 formContainer d-flex flex-column">
              <form [formGroup]='formSignup'>
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">REGISTRO</h3>
                <div class="row">
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                      <p class="form-label">Nombre</p>
                      <input type="text" id="firstName" formControlName="nombre" class="form-control" placeholder="Ingrese su Nombre"/>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                      <p class="form-label">Apellido</p>
                      <input type="text" id="lastName" formControlName="apellido" class="form-control" placeholder="Ingrese su Apellido"/>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Email</p>
                      <input type="email" id="emailAddress" formControlName="email" class="form-control" placeholder="Ingrese su Correo"/>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Numero de telefono</p>
                      <input type="tel" id="phoneNumber" formControlName="telefono" class="form-control" placeholder="Ingrese su Telefono"/>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Contraseña</p>
                      <input type="password" id="pass" formControlName="password" class="form-control" placeholder="Ingrese su Contraseña"/>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Repita su Contraseña</p>
                      <input type="password" id="pass2" formControlName="password2" class="form-control" placeholder="Ingrese su Contraseña"/>
                    </div>

                  </div>
                </div>

                <div class="mt-2 pt-2">
                  <button class="btn btn-primary" type="submit" (click)='signUp();'>Registrarme</button>
                </div>

              </form>
            </div>
