            <div class="card-body p-4 p-md-5 mt-5 formContainer d-flex flex-column">
              <form [formGroup]='formSignup'>
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">REGISTRO</h3>
                <div class="row">
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                      <p class="form-label">Nombre</p>
                      <input type="text" id="firstName" formControlName="nombre" class="form-control" placeholder="Ingrese su Nombre"/>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                      <p class="form-label">Apellido</p>
                      <input type="text" id="lastName" formControlName="apellido" class="form-control" placeholder="Ingrese su Apellido"/>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Email</p>
                      <input type="email" id="emailAddress" formControlName="email" class="form-control" placeholder="Ingrese su Correo"/>
                      <p class="error" *ngIf="formSignup.controls['email'].hasError('email')">Formato Invalido.</p>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Numero de telefono</p>
                      <input type="tel" id="phoneNumber" formControlName="telefono" class="form-control" placeholder="Ingrese su Telefono"/>
                      <small class="error" *ngIf="formSignup.controls['telefono'].hasError('pattern') && formSignup.controls['telefono'].dirty">El formato del telefono no es valido.</small>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Contraseña</p>
                      <input type="password" id="pass" formControlName="password" class="form-control" placeholder="Ingrese su Contraseña"/>
                      <small class="disclamer">Las contraseñas deben incluir una letra mayuscula, un numero, y un caracter especial.</small>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <p class="form-label">Repita su Contraseña</p>
                      <input type="password" id="pass2" formControlName="password2" class="form-control" placeholder="Ingrese su Contraseña"/>
                    </div>

                  </div>
                </div>

                <div class="mt-1 pt-2">
                  <button class="btn btn-primary" type="submit" [disabled]="formSignup.invalid" (click)='signUp();'>Registrarme</button>
                </div>
                <small class="error" *ngIf="this.passwordsCorrect === false">Las contraseñas no coinciden.</small>
                <small class="error" *ngIf="this.formatValid === false">El formato de la contraseña no es valido.</small>
                <small class="error" *ngIf="errorMessage !== ''">{{errorMessage}}</small>
                <small class="success" *ngIf="this.statusOk === true">Registro realizado correctamente.</small>

              </form>
            </div>
