<div class="content" role="main">
  <div class="banner"></div>

  <div class="destacados">
    <h2>PRODUCTOS DESTACADOS</h2>
    <div class="flex-all">
      <div class="card"><img src="../assets/reloj1.png" alt="reloj1" class=""><a routerLink="/producto" routerLinkActive="active" class="comprar">COMPRAR</a></div>
      <div class="card"><img src="../assets/reloj2.png" alt="reloj2" class=""><a routerLink="/producto" routerLinkActive="active" class="comprar">COMPRAR</a></div>
      <div class="card"><img src="../assets/reloj3.png" alt="reloj3" class=""><a routerLink="/producto" routerLinkActive="active" class="comprar">COMPRAR</a></div>
    </div>
  </div>
</div>
