<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Only Design Logo"
    src="../assets/logo.png"
  />
  <h1>ONLY DESIGN</h1>
  <div class="spacer"></div>
  <div class="buttons">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/productos" routerLinkActive="active">Productos</a>
    <a href="#footer">Contacto</a>
    <a routerLink="/login" routerLinkActive="active"><img src="../assets/login.png" alt="Login" width="30" height="30">Iniciar sesión</a>
  </div>
</div>

<router-outlet></router-outlet>

    <!-- Footer -->
<footer id="footer">
  <h3>Tecnicatura en Desarrollo Web</h3>
  <div class="flex">
    <a routerLink="#" routerLinkActive="active">Home</a>
    <a routerLink="/productos" routerLinkActive="active">Productos</a>
    <a routerLink="#" routerLinkActive="active">Contacto</a>
  </div>
  <div class="flex">
    <a routerLink="#" routerLinkActive="active">Facebook</a>
    <a routerLink="#" routerLinkActive="active">Instagram</a>
    <a routerLink="#" routerLinkActive="active">Twitter</a>
  </div>
</footer>
