<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Only Design Logo"
    src="../assets/logo.png"
  />
  <h1>ONLY DESIGN</h1>
  <div class="spacer"></div>
  <div class="buttons">
    <a href="/">Home</a>
    <a href="/productos">Productos</a>
    <a href="#">Contacto</a>
    <a href="/login"><img src="../assets/login.png" alt="Login" width="30" height="30"></a>
  </div>
</div>

<router-outlet></router-outlet>

    <!-- Footer -->
<footer>
  <h3>Tecnicatura en Desarrollo Web</h3>
  <div class="flex">
    <a href="#">Home</a>
      <a href="#">Productos</a>
      <a href="#">Contacto</a>
  </div>
  <div class="flex">
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
  </div>
</footer>